@model HealthAtHome.Models.Routine
@{
    ViewData["Title"] = "Exercise";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Exercise</h1>

<h1>@Model.Name</h1>

@foreach (var exercise in Model.Exercises)
{
    <div>
        <h3>@exercise.Name</h3>
        <p>@exercise.Description</p>
        <p>@exercise.Sets</p>
        <p>@exercise.Reps</p>
        <img src="@exercise.Image" />
    </div>
}
