@model List<HealthAtHome.Models.Exercise>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Routines</h1>

<p>This is the all routines View.</p>

<p>Empty Bicep</p>
<img src="~/Assets/RatingIcons/gym.svg" height="20px" width="20px"/>

<p>Gains Bicep</p>
<img src="~/Assets/RatingIcons/gym2.svg" height="20px" width="20px"/>

<h2>this is a list of all exercises for testing</h2>

@foreach (var exercise in Model)
{
    <h3>@exercise.ExerciseName</h3>
    <p>@exercise.Description</p>
    <p>@exercise.Sets</p>
    <p>@exercise.Reps</p>
    <p>@exercise.Image</p>
    <a href="/routine/@exercise.ID">View Exercise</a>
}